@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .section-padding {
    @apply px-4 sm:px-6 lg:px-8 py-16 md:py-24;
  }
  
  .container-custom {
    @apply max-w-7xl mx-auto;
  }
}
